* {
    font-family: sans-serif;
}
.small {
    font-size: .4em;
}

.tooltip {
    position: absolute;
    font-size: .8em;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messages {
    position:absolute;
    top: 230px;
}